* {
    font-family: "Iosevka Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    border: none;
}

.modules-left {
    padding: 0;
}

.modules-right {
    padding: 0;
}

.modules-center {
    padding: 0;
}

#workspaces {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 0;
}

#workspaces button {
    min-height: 0;
    padding: 0 7px;
    margin-right: 2px;
    color: #f5e0dc;
}

#workspaces button.urgent {
    color: #f5e0dc;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces button.empty {
    color: #cdd6f4;
}

#workspaces button.visible {
    color: #89dceb;
}

#workspaces button.active {
    color: #fab387;
}

@keyframes blink {
    to {
        color: #202020;
        background-color: #dcf5f3;
    }
}

#custom-launcher {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 0;
    color: #89dceb;
}

#custom-power {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0;
}

#cpu {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 10px 2px 12px;
    margin: 0;
    color: #f2cdcd;
}

#memory {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 10px 2px 12px;
    margin: 0;
    color: #fab387;
}

#wireplumber {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 10px 2px 12px;
    margin: 0;
    color: #f9e2af;
}

#wireplumber.muted {
    color: #f38ba8;
}

#clock {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0;
    color: #94e2d5;
}

#network {
    background-color: #202020;
    color: #cdd6f4;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0;
}

#network.disabled {
    color: #f38ba8;
}

#tray {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0;
}

#battery {
    background-color: #202020;
    color: #cdd6f4;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0;
}

#backlight {
    background-color: #202020;
    color: #cdd6f4;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 0;
}

#custom-fan {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 10px 2px 12px;
    margin: 0;
    color: #89b4fa; /* blue-ish → fits "system sensors" theme */
}

#custom-disk {
    background-color: #202020;
    border-radius: 4px;
    padding: 2px 10px 2px 12px;
    margin: 0;
    color: #a6e3a1; /* green → fits "storage/space" semantics */
}
